* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    margin: 10px;
}

.out-block {
    min-height: 50px;
    background-color: rgb(200, 195, 226);
    padding: 10px;
    border-radius: 5px;
}

.output {
    display: inline-block;
    background-color: rgb(204, 227, 227);
    border-radius: 10px;
    padding: 5px;
}


.is-future {
    width: 400px;
    height: 200px;

    background-color: rgb(0, 179, 255);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}

.leap-year {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    background-color: #ca7878;
}